[submodule "plugins"]
	path = plugins
	url = https://github.com/overthinkos/overthink-plugins.git
[submodule "pkg/arch"]
	path = pkg/arch
	url = https://github.com/overthinkos/overthink-arch.git
[submodule "image/arch"]
	path = image/arch
	url = https://github.com/overthinkos/arch.git
	branch = main
[submodule "image/cachyos"]
	path = image/cachyos
	url = https://github.com/overthinkos/cachyos.git
[submodule "image/debian"]
	path = image/debian
	url = https://github.com/overthinkos/debian.git
[submodule "image/ubuntu"]
	path = image/ubuntu
	url = https://github.com/overthinkos/ubuntu.git
[submodule "image/fedora"]
	path = image/fedora
	url = https://github.com/overthinkos/fedora.git
