input {
    keyboard {
        xkb {
            layout "us"
        }
    }
}

animations {
    off
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
    draw-border-with-background false
}

layout {
    gaps 0
    default-column-width { proportion 1.0; }
    focus-ring {
        off
    }
    border {
        off
    }
}
