[Unit]
Description=WayVNC Server
After=sway.service
Requires=sway.service

[Service]
Type=simple
ExecStart=%h/.local/bin/wayvnc-wrapper
Environment=XDG_RUNTIME_DIR=/tmp
Environment=WAYLAND_DISPLAY=wayland-0
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
